<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Technical Skill Assessment for Berkshire Hathaway Homestate Companies">
    <meta name="author" content="Cameron Brownfield">
    <link rel="icon" href="./assets/img/favicons/favicon.ico">
    <title>BHHC - TSA</title>

    <!-- Google Sign-In -->
    {{!-- <meta name="google-signin-client_id"
        content="878761180183-85btblakqomhl2709ajse0eggfbklmph.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> --}}

    <!-- Static local scripts. -->
    <script src="bundle.js" async defer></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/theme.css">

</head>

<body>
    <header>
        <div class="collapse bg-dark-override" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About Me</h4>
                        <p class="text-muted">Cameron Brownfield is a software engineer who loves designing,
                            implementing, optimizing and scaling the back-end components to web applications, services,
                            and API's using test driven development and automation to keep even the fastest front-end
                            teams on their toes.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="mailto:cameronbrownfield@gmail.com" class="text-white">cameronbrownfield@gmail.com</a></li>
                            <li><a href="tel:1-530-713-3680" class="text-white">(530) 713-3680</a></li>
                            <li><a href="https://www.linkedin.com/in/cameronbrownfield/" class="text-white">Connect on LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark-override box-shadow">
            <div class="container d-flex flex-row">
                <!-- If uncommenting google sign in - update row above to be flex-row-reverse. -->
                <!-- Google Sign-In Button Integration -->
                {{!-- <div id="my-signin2" onload="renderButton()"></div>
                <script>
                    function onSuccess(googleUser) {
                        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                    }

                    function onFailure(error) {
                        console.log(error);
                    }

                    function renderButton() {
                        $(document).ready(() => {
                            gapi.signin2.render('my-signin2', {
                                'scope': 'profile email',
                                'width': 112,
                                'height': 40,
                                'longtitle': false,
                                'theme': 'light',
                                'onsuccess': onSuccess,
                                'onfailure': onFailure
                            });
                        });
                    }
                </script> --}}
                <!-- End Google Sign-In Button Integration-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center banner">
            <div class="container">
                <h1 class="jumbotron-heading">Berkshire Hathaway Homestate Companies</h1>
                <p class="lead text-muted"></p>
                <!-- Entensible here, allow a reason 'insert', by the signed in user. -->
                {{!-- {{#if user}}
                <p>
                    <a href="#" class="btn btn-primary my-2">Add a Reason to Work Here</a>
                </p>
                {{/if}} --}}
            </div>

        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {{#each formattedNotes}}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            {{#if img}}
                            <img class="card-img-top" data-src={{img}} alt="Card image cap">
                            {{/if}}
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text">{{msg}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Extensible here - could allow the logged in user to edit their own reasons. -->
                                    {{!-- {{#if user}}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    {{/if}} --}}
                                    <small class="text-muted">{{timeSince}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <br>
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Hire Me Please - 2019 &#169;</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>


</body>

</html>
